[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.6.0"
pylint = "*"
pre-commit = "*"

[packages]
python-dotenv = "*"
pigpio = {version = "*",sys_platform = "!= 'darwin'"}
pychromecast = "*"
pillow = "*"
requests = "*"
tk = "*"
flask = "*"
python-kasa = "==0.5.0"
wg-utilities = "*"

[requires]
python_version = "3.8"
