[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.10.0"
pylint = "*"
pre-commit = "*"

[packages]
python-dotenv = "*"
pigpio = "*"
pychromecast = "*"
pillow = "*"
requests = "*"
tk = "*"
flask = "*"
python-kasa = "==0.5.1"
wg-utilities = "*"
paho-mqtt = "*"
