[Unit]
Description=CRT Controller Service
After=graphical.target
Wants=graphical.target

[Service]
User=pi
Group=pi
Environment="DISPLAY=:0.0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/home/pi/.local/share/virtualenvs/smart-mini-crt-interface-cUI21FE0/bin/python /home/pi/smart-mini-crt-interface/src/application/controller/gui.py
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=graphical.target
